<div class="about-section">
    <h1>About Us Page</h1>
    <p>Anil L</p>
    <p>Software Engineer</p>
  </div>
  

      <div class="card">
        <img src="https://avatars.githubusercontent.com/u/71332138?v=4" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Anil L</h2>
          <p>Full Stack Developer</p>
          <p class="title">Anillava1999@example.com</p>
          <a href="https://www.linkedin.com/in/anil-lavakumar-b023631b6/">LinkedIn</a>
          <div>
          <a href="https://github.com/anillava1999?tab=repositories">GitHub</a>
</div>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
  